body{
    background-color: #000000;
    font-family: "Arial";
}
.fade{
  transition-duration: 8s;
}
button{
  background-color: #000000;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  border: 5px solid white;
  color: #FFFFFF;
  font-size: 30px;
  border-radius: 7px;
  margin-left: 20px;
}
.backbtn{
  margin-top: 30px;
  padding: 10px 40px;
}
.sideImg {
	margin-right: 1%;
	vertical-align: top;
	display: inline-block;
}
    h1{
    color: #FDFDFD;
    margin-left: 20px;
    margin-right: 50px;
    font-size: 35px;
    }
    h2{
      color: #FDFDFD;
      margin-left: 30px;
      margin-right: 40px;
      margin-bottom: 5px;
      font-size: 20px;
    }
    a{
      color: #EE0000;
      font-size:20px;
      margin-left:30px;
      margin-top: 5px;
    }
    p{
      margin-left: 5px;
      margin-top: 2px;
      margin-bottom: 2px;
      color: #FFFFFF;
      font-size: 45px;
    }
    .dcoder{
      color: #777777;
    }
.lang{
  border-radius: 13px;
  padding: 3px 5px;
}
.langJs{
  color: #000000;
  background-color: #e3d000;
}
.langCs{
  color: #FFFFFF;
  background-color: #0c57c7;
}
.buttonDark {
	font-size: 30px;
	border: 2px solid white;
	background-color: black;
	text-align: left;
	width: 800px;
	height: 70px;
	margin-bottom: 1px;
	margin-top: 1px;
	color: white;
	display: block;
}
button:hover {
	background-color: #1a1a1a;
}
button:active {
	color: black;
	background-color: white;
}