			body {
				transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-moz-transition-duration: 0.2s;
				background-color: black;
				color: white;
				font-family: Arial;
			}
			
			p {
				margin-bottom: 2px;
				margin-top: 2px;
				font-size: 50px;
			}
			
			.vis {
				display: block;
			}
			
			.sideImg {
				margin-right: 1%;
				vertical-align: top;
				display: inline-block;
			}
			
			.inText {
				transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-moz-transition-duration: 0.2s;
				margin-top: 2px;
				margin-bottom: 2px;
				height: 60px;
				border: 2px solid white;
				font-size: 50px;
				background-color: black;
				color: white;
			}
			
			.hidden {
				display: none;
			}
			
			.buttonLight {
				font-size: 40px;
				transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-moz-transition-duration: 0.2s;
				border: 2px solid black;
				background-color: white;
				color: black;
				display: block;
			}
			.buttonLight:hover {
				background-color: black;
				color: white;
			}
			
			.buttonDark {
				font-size: 40px;
				transition-duration: 0.2s;
				-webkit-transition-duration: 0.2s;
				-moz-transition-duration: 0.2s;
				border: 2px solid white;
				background-color: black;
				color: white;
				display: block;
			}
			.buttonDark:hover {
				color: black;
				background-color: white;
			}